<!DOCTYPE html>
<head>
  <title>test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="mobile-nav">
    <span class="nav-brand">XAINTZ</span>
    <img class="nav-logo" src="logo.png" alt="">
    <a class="nav-shop" href="/shop">SHOP</a>
  </nav>
  <div class="col-container">
    <section class="sidebar">
      <span id="main-text"> Lorem ipsum dolor si amet, consectetur adipscing elit. Nunc sodales magna felis, at viverra lectus sollicitudin a</span>
      <img id="logo" src="logo.png">
      <div id="bottom">
        <span id="brand">XAINTZ</span>
        <a id="shop" href="/shop">SHOP</a>
      </div>
    </section>
    <section class="body">
      <div class="column">
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
      </div>
      <div class="column">
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
      </div>
    </section>
  </div>
</body>

