<!DOCTYPE html>
<head>
  <title>test</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="col-container">
    <section class="sidebar">
      <span id="main-text"> Lorem ipsum dolor si amet, consectetur adipscing elit. Nunc sodales magna felis, at viverra lectus sollicitudin a</span>
      <img id="logo" src="logo.png">
      <div id="bottom">
        <span id="brand">XAINTZ</span>
        <span id="contact">xain@xaintz.com</span>
      </div>
    </section>
    <section class="body">
      <div class="column">
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
      </div>
      <div class="column">
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/two">
          <img src="2.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
        <a class="slide" href="/blog/one">
          <img src="1.png" alt="">
          <span class="overlay"><span class="go">GO</span></span>
        </a>
      </div>
    </section>
  </div>
</body>

